#ifndef INIT_{{ model.name }}_H
#define INIT_{{ model.name }}_H

#include "definitions_{{ model.name }}.h"
#include "fuzzyLogic_{{ model.name }}.h"

int_t newState_{{ model.name }}(fuzzyLogic_{{ model.name }} * fl);

#endif
