#ifndef DEFINITIONS_H
#define DEFINITIONS_H

#define N_INPUT {{ len(model.input_var) }}
#define N_OUTPUT {{ len(model.output_var) }}
#define N_RULES {{ len(model.rules) }}

// TODO incapsulate both in functions or fields of the class
#define MAX_N_MF_INPUT {{ max([len(v.membership_functions) for v in model.variables]) }}
#define MAX_N_MF_OUTPUT {{ max([len(v.membership_functions) for v in model.defuzzify]) }}

// TODO incapsulate both in functions or fields of the class
#define MAX_L_NAME {{ 1 }}
#define MAX_N_POI {{ 1 }}

#endif
