#ifndef DEFINITIONS_H_{{ model.name }}
#define DEFINITIONS_H_{{ model.name }}

#define N_INPUT_{{ model.name }} {{ model.input_var | length }}
#define N_OUTPUT_{{ model.name}} {{ model.output_var | length }}
#define N_RULES_{{ model.name }} {{ model.rules | length }}

#define MAX_N_MF_INPUT_{{ model.name }} {{ model.getMaxNumberOfMFInput() }}
#define MAX_N_MF_OUTPUT_{{ model.name }} {{ model.getMaxNumberOfMFOutput() }}

// TODO incapsulate both in functions or fields of the class
#define MAX_L_NAME_{{ model.name }} {{ 64 }}
#define MAX_N_POI_{{ model.name }} {{ 4 }}

#endif
