#ifndef FUZZY_OUTPUT_{{ model.name }}_H
#define FUZZY_OUTPUT_{{ model.name }}_H

#include "definitions_{{ model.name }}.h"
#include "memFunc_{{ model.name }}.h"

#ifndef MAX_L_NAME_{{ model.name }}
#error "MAX_L_NAME_{{ model.name }} not defined: check definitions_{{ model.name }}.h"
#endif

#ifndef MAX_N_MF_OUTPUT_{{ model.name }}
#error "MAX_N_MF_{{ model.name }} not defined: check definitions_{{ model.name }}.h"
#endif

//! FUZZY OUTPUT STRUCTURE
typedef struct {
	char name[MAX_L_NAME_{{ model.name }}];		//!< Name of the output
	memFunction mf[MAX_N_MF_OUTPUT_{{ model.name }}];	//!< List of the Member Functions
	int nMF;					//!< Number of MF
} fuzzyOutput_{{ model.name }};

/*! INIT OF A FUZZY OUTPUT
 *		output		fo			Fuzzy output to init
 *		input		name		Label of the Fuzzy output
 *		input		MFs			Array of membership functions
 *		input 		nMF			Number of membership functions to be included
 *
 *		return					Flag: -1 if error, 0 otherwise
 */
int createOutput_{{ model.name }}(fuzzyOutput_{{ model.name }} * fo, char* name, memFunction_{{ model.name }} * MFs, int nMF);

/*! FIND MF GIVEN NAME
 *		input		fuzzy_output	Pointer to the Fuzzy Output struct
 *		input		name			Name of the MF
 *
 *		return						Index of the MF or -1 if not found
 */
int getOutputMFFromName_{{ model.name }}(fuzzyOutput_{{ model.name }} * fuzzy_output, char * name);

#endif
