#ifndef FUZZY_INPUT__{{ model.name }}H
#define FUZZY_INPUT__{{ model.name }}H

#include "definitions_{{ model.name }}.h"
#include "defCommon_{{ model.name }}.h"
#include "memFunc_{{ model.name }}.h"

#ifndef MAX_L_NAME_{{ model.name }}
#error "MAX_L_NAME_{{ model.name }} not defined: check definitions_{{ model.name }}.h"
#endif

#ifndef MAX_N_MF_INPUT_{{ model.name }}
#error "MAX_N_MF_INPUT_{{ model.name }} not defined: check definitions_{{ model.name }}.h"
#endif

//! FUZZY INPUT STRUCTURE
typedef struct {
	char name[MAX_L_NAME_{{ model.name }}];		//!< Name of the input
	memFunction_{{ model.name }} mf[MAX_N_MF_INPUT_{{ model.name }}];	//!< List of Member Functions
	uint_t nMF;					//!< Number of MF
	dataType minValue;			//!< Minimum value of the Fuzzy Input
	dataType maxValue;			//!< Maximum value of the Fuzzy Input
} fuzzyInput_{{ model.name }};

/*! INIT OF A FUZZY INPUT
 *		output		fi			Fuzzy input to init
 *		input		name		Label of the Fuzzy input
 *		input		MFs			Array of membership functions
 *		input 		nMF			Number of membership functions to be included
 * 		input		min			Minimum value of the Fuzzy Input
 * 		input 		max			Maximum value of the Fuzzy Input
 *
 *		return					Flag: -1 if error, 0 otherwise
 */
int_t  createInput_{{ model.name }}(fuzzyInput_{{ model.name }} * fi, char* name, memFunction_{{ model.name }} * MFs, uint_t nMF, dataType min, dataType max);

/*! FIND INPUT INDEX GIVEN NAME 
 *    input      fl        Fuzzy Input 
 *    input    nInputs    Fuzzy Input 
 *    input      name      Name of the Input 
 * 
 *    return              Index of the Input or -1 if not found 
 */ 
int_t getInputFromNameIn_{{ model.name }}(fuzzyInput_{{ model.name }} * fi, uint_t nInputs, char * name); 

/*! FIND MF GIVEN NAME
 *		input		fuzzy_input		Pointer to the Fuzzy Input struct
 *		input		name			Name of the MF
 *
 *		return						Index of the MF or -1 if not found
 */
int_t  getInputMFFromName_{{ model.name }}(fuzzyInput_{{ model.name }} * fuzzy_input, char * name);

/*! CALCULATION OF THE MEMBERSHIP TO A GIVEN FUZZY INPUT
 *			input		fuzzy_input		A Fuzzy Input
 *			input 		inputValue		Value of the input
 * 
 * 			output		output			The % of membership to a Fuzzy Input given an input value		
 */
void getPercentageFromInput_{{ model.name }}(fuzzyInput_{{ model.name }} * fuzzy_input, dataType inputValue, dataType * output);

#endif
