#ifndef INIT_{{ model.name }}_H
#define INIT_{{ model.name }}_H

#include <python3.4/Python.h>
#include "definitions_{{ model.name }}.h"
#include "fuzzyLogic_{{ model.name }}.h"

int_t newState_{{ model.name }}(fuzzyLogic_{{ model.name }} * fl);

static PyObject* py_index(PyObject* self, PyObject* args);

PyMODINIT_FUNC PyInit_index(void);

#endif
