#include <python3.4/Python.h>
#include <stdio.h>
#include <stdint.h>

#include "defCommon_{{ model.name }}.h"
#include "init_{{ model.name }}.h"

int main(){
	/* must be compiled in the following way :  gcc *.c -lpython3.4 $(/usr/bin/python3.4-config --ldflags)  */
	/*The following functions are used for Python*/
	/* Initialize the Python interpreter.  Required. */
	
	PyImport_AppendInittab("index", PyInit_index);
	
    Py_Initialize();

    /* Add a static module */
    PyInit_index();
    
    PyImport_ImportModule("index");
    
	fuzzyLogic_{{ model.name }} fl;
	int flag = newState_{{ model.name }}(&fl);
	if ( flag < 0 )
		printf("Some error occured");
	
	/*
	 * In order to change the INPUTS variable you have to change the following array
	 */
	 
	dataType input[N_INPUT_{{ model.name }}];
	
	double output;
	int i,j;
	
	fuzzify_{{ model.name }}(&fl, &(input[0]));
	output = calculateIndex_{{ model.name }}(&fl);
}
