#include "rules_{{ model.name }}.h"
#ifndef RULES
#define RULES

inline double min(double a, double b) {
	return a<=b ? a : b;
}

inline double multiply(double a, double b) {
	return a*b;
}

inline double max(double a, double b){
	return a>=b ? a : b;
}

#endif
