#include <stdio.h>

#include "init_{{ model.name }}.h"

int main(){

	findLogic fl;
	initFindLogic_{{ model.name }}(&fl);


	/*
	* In order to change the INPUTS variable you have to change the following array
	*/

	dataType input[] = {0.44, 0.44, 0.44};
	
	dataType output;

	output = calculateFindIndex(&fl, input);

	printf("Stampa: %lf\n", output);


	return 0;
}
